<div class="offwhite bordertop">
  <div class="page-width relative">
    <div class="row center-xs pad-xs-60 pad-sm-80 pad-top-bottom">
      <div class="col-xs-12">
          <h2>{{ section.settings.appstitle }}</h2>
      </div>
      <div class="sp-10 show-sm"></div>
      <div class="sp-10"></div>
      <div class="appset">
        {% for product in collections[section.settings.appscollection].products limit: 6 %}

          {%- assign colour = product.metafields["global"]["Colour"] -%}
          <a href="{{ product.url }}"><span class="rounded app-icon" style="background:#333060;background: {{ colour }}"><img src="{{ 'app-icon.svg' | asset_url }}" /></span></a>
        
        {% endfor %}
      </div>
      <div class="sp-10"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Our Apps",
    "settings": [
      {
        "type": "text",
        "id": "appstitle",
        "label": "Apps title"
      },
      {
        "type": "collection",
        "id": "appscollection",
        "label": "Apps Collection"
      }
    ],
    "presets": [{
      "name": "Our Apps",
      "category": "Text"
    }]
  }
{% endschema %}